@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    background-color: rgb(6, 20, 29);
}

/* center the form */
#form-holder {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 65vh;
    align-items: center;
}

/* label font properties */
#link-label {
    font-family: Coming Soon;
    color: white;
    font-size: 180%;
    padding-bottom: 10px;
}

/* input box design and font */
#link {
    color: rgb(157, 220, 236);
    font-size: 17px;
    font-family: Coming Soon;
    background-color: rgb(10, 27, 37);
    border: none;
    outline: none;
    caret-color: white;
    padding: 10px 0px 10px 20px;
    width: 589px;
    height: 50px;
    margin-bottom: 7px;
    border-radius: 7px 7px 3px 3px;
    
    /* input border animation */
    background-image: linear-gradient(90deg, rgb(63, 134, 204), rgb(47, 128, 209));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 400ms cubic-bezier(0.57, 0.05, 0.21, 1);
}
#link:focus {
    background-size: 100% 2px;
}

/* button design */
#btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#link-submit, #link-open {
    cursor: pointer;
    font-family: Urbanist;
    outline: none;
    border: none;
    width: 609px;
    height: 45px;
    border-radius: 3px 3px 7px 7px;
    background-color: rgb(0, 51, 80);
    color: rgb(189, 203, 214);
    transition: 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    margin-top: -7px;
}

#link-submit:hover, #link-open:hover {
    background-color: rgb(4, 78, 121);
}

#link-submit:active, #link-open:active {
    background-color: rgb(11, 69, 102);
}

/* warning message */
#warning-message {
    font-family: Urbanist;
    color: red;
    font-size: 12pt;
    margin-top: -7px;
}

#warning-message-container {
    max-width: 608px;
}

#sign-up {
    margin-right: 7px;
}
