/* header buttons */
header {
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: flex-start;
    
    margin-top: 16px;
    margin-right: 20px;
    
    height: 6vh;
    min-height: 55px;
    
    width: 100%;
}

.header-buttons {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 14px 0 14px;

    font-family: Urbanist;

    height: 41px;
    min-width: 100px;
    margin-right: 13px;
    
    border-radius: 4px;

    color: rgb(199, 227, 255);
    background-color: rgb(18, 90, 131);

    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.header-buttons:hover {
    background-color: rgb(0, 65, 102);
}

.header-buttons:active {
    background-color: rgb(0, 76, 121);
}

/* dropdown */
#dropdown-container {
    flex-direction: column;
    align-items: center;
}

#dropdown-button {
    min-width: 15rem;
    min-height: 3.1rem;
    font-size: 1rem;
}

#dropdown {
    display: flex;
    flex-direction: column;

    margin-right: 13px;
    border-radius: 3px;
    background-color: rgb(38, 112, 158);
    color: white;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.1s ease-in;
}

#dropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 14.7rem;
    height: 3rem;

    font-family: Urbanist;
    font-size: 1.15rem;
    font-weight: 600;
    color: black;
    
    transition: 200ms ease-in-out;
}

#dropdown > a:hover {
    background-color: rgb(32, 135, 182);
    transform: perspective(120px)  translateZ(2px);
    box-shadow: 2px 2px 4px 1px rgb(2, 7, 17);
    border-radius: 3px;
}

#dropdown-container.active > #dropdown {
    opacity: 1;
    transform: translateY(3px);
    pointer-events: all;
}