@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    background-color: rgb(6, 20, 29);
}

.form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    align-items: center;
}



/* header buttons */
header {
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: flex-start;
    
    margin-top: 16px;
    margin-right: 20px;
    
    height: 6vh;
    min-height: 55px;
    width: 100%;
}

.header-buttons {
    border: none;
    outline: none;
    cursor: pointer;

    font-family: Urbanist;

    padding: 0 14px 0 14px;
    min-width: 8em;
    height: 41px;
    margin-right: 13px;

    border-radius: 4px;

    color: rgb(199, 227, 255);
    background-color: rgb(18, 90, 131);

    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.header-buttons:hover {
    background-color: rgb(0, 65, 102);
}

.header-buttons:active {
    background-color: rgb(0, 76, 121);
}

/* links */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding-top: 30px;
}
.link-container-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70%;
    min-width: 200px;
    max-width: 900px;
    height: 7.3vh;
    min-height: 60px;
    max-height: 80px;

    background-color: rgb(22, 83, 148);
    border-radius: 19px;

    margin-bottom: 8px;
    padding: 3px 5px 3px 5px;
}
.link-container-front {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 98.3%;
    min-width: 150px;
    max-width: 890px;
    height: 6vh;
    min-height: 48px;
    max-height: 72px;

    background-color: rgba(125, 158, 240, 0.22);
    border-radius: 14px;

}

@media screen and (min-width: 601px) { /* font size based on screen size */
    .links-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        width: 95%;
    }  
    .links-container * {
        font-size: 120%;
        font-family: Urbanist;
        color: rgb(0, 0, 0);
    }
}

@media screen and (max-width: 600px) {
    .links-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .links-container * {
        font-size: 70%;
        font-family: Urbanist;
        color: rgb(0, 0, 0);
    }
    #llink {
        padding-bottom: 10px;
    }
}

.links-container * {
    transition: color 200ms ease-in;

    text-decoration: underline;
    cursor: pointer;
}
.links-container *:hover {
    color: rgb(177, 216, 255);
}