@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    background-color: rgb(6, 20, 29);
}

/* links */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding-top: 30px;
}

.link-container-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70%;
    min-width: 290px;
    max-width: 900px;
    height: 7.3vh;
    min-height: 60px;
    max-height: 80px;

    background-color: rgb(22, 83, 148);
    border-radius: 19px;

    margin-bottom: 8px;
    padding: 3px 5px 3px 5px;
}

.link-container-front {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 98.3%;
    min-width: 240px;
    max-width: 890px;
    height: 6vh;
    min-height: 48px;
    max-height: 72px;

    background-color: rgba(125, 158, 240, 0.22);
    border-radius: 14px;

}

.delete-btn {
    border: none;
    outline: none;

    width: 30px;
    height: 30px;
    border-radius: 4px;

    background-color: rgb(0, 51, 80);
    color: rgb(156, 219, 248);
    transition: background-color 0.3s cubic-bezier(0.23, 1, 0.320, 1);

    cursor: pointer;
}

/* copy button with the links */
.btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 7px;
}
.copy-btn {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: Urbanist;
    border-radius: 5px;
    background-color: rgb(0, 51, 80);
    color: rgb(156, 219, 248); 
    transition: background-color 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.copy-btn:hover, .delete-btn:hover {
    background-color: rgb(4, 78, 121);
}
.copy-btn:active, .delete-btn:active {
    background-color: rgb(11, 69, 102);
}

@media screen and (min-width: 760px) {
    /* font size based on screen size */
    .link-container-back {
        width: 90%;
        min-width: 720px;
        max-width: 900px;
        height: 7.3vh;
        min-height: 60px;
        max-height: 80px;
    }
    .link-container-front {
        width: 98.3%;
        min-width: 210px;
        max-width: 890px;
        height: 6vh;
        min-height: 48px;
        max-height: 72px;
    }
    .links-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 5px 0 15px;
        width: 95%;
    }
    .links-container a {
        font-size: 100%;
        font-family: Urbanist;
        color: rgb(0, 0, 0);
    }
    /* copy button */
    .copy-btn {
        font-size: 90%;
        margin: 0 7px 0 0;
        width: 100px;
        height: 4vh;
        min-height: 35px;
        max-height: 45px;
    }
}

@media screen and (max-width: 760px) {
    .links-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px 0 10px;
        width: 95%;
    }
    .links-container a {
        font-size: 60%;
        font-family: Urbanist;
        color: rgb(0, 0, 0);
    }
    .llink {
        padding-bottom: 10px;
    } 
    /* copy button */
    .copy-btn {
        font-size: 60%;
        margin: 0 5px 0 0px;
        width: 15vw;
        min-width: 60px;
        height: 30px;
    }
}

.links-container a {
    transition: color 200ms ease-in;
    padding-right: 8px;
    text-decoration: underline;
    cursor: pointer;
}

.links-container a:hover {
    color: rgb(177, 216, 255);
}


/* if they have no links */
#no-links {
    font-size: 100%;
    font-family: Urbanist;
    color: white;
    padding-top: 200px;
}

/* total # of links */
#total-links-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 -30px 0;
}
#total-links {
    font-size: 14pt;
    font-family: Urbanist;
    color: white;
}
