@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    background-color: rgb(6, 20, 29);
}
/* settings */
#settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

    height: 60vh;
    min-height: 500px;
    min-width: 550px;
}
#settings-container > div, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-setting {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    height: 14vh;
    min-height: 130px;
    max-height: 135px;
    width: 65vw;
    min-width: 400px;
    max-width: 1100px;
}
#password {
    height: 21vh;
    min-height: 200px;
    max-height: 210px;
}
.form-setting p {
    font-size: 100%;
    font-family: Urbanist;
    color: lightblue;
}
.form-setting a {
    font-size: 80%;
    font-family: Urbanist;
    color: lightblue;
}
.input-container {
    width: 80%;
}
.input-container p {
    font-weight: 600; 
    text-decoration: underline;
}

/* inputs */
.form-setting input {
    border: none;
    outline: none;
    width: 100%;

    margin: 6px 0 7px 0;
    padding: 10px;
    border-radius: 5px;

    background-color: rgba(15, 41, 56, 0.6);
    color: paleturquoise;
    font-family: Urbanist;
    font-size: 13pt;

    transition: background-color 200ms ease;
}
.form-setting input::placeholder {
    color: paleturquoise;
    opacity: 0.43;
}
.form-setting input:hover {
    background-color: rgb(13, 37, 51);
}
.form-setting input:focus {
    background-color: rgb(16, 43, 60);
}
/* password */
.pass-label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.show-pass {
    text-decoration: underline;
    cursor: pointer;

    margin-right: -14px;
}
/* save settings button */
#settings-save {
    border: none;
    outline: none;
    cursor: pointer;

    width: 80%;
    max-width: 910px;
    min-width: 340px;

    margin-left: 19px;
    padding: 13px;
    border-radius: 5px;

    background-color: rgba(15, 41, 56, 0.8);
    color: paleturquoise;
    font-family: Urbanist;
    font-size: inherit;

    transition: background-color 200ms ease;
}
#settings-save:hover {
    background-color: rgb(16, 47, 65);
}
#settings-save:active {
    background-color: rgb(16, 43, 60);
}
/* account deletion button */
#account-delete {
    background-color: rgb(13, 35, 48);
    border: 1px solid rgb(40, 122, 151);
    border-radius: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: Urbanist;
    color: lightblue;
    font-size: 80%;
}
#delete-warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#account-delete h1 {
    margin-left: 18px;
}
#account-delete p {
    font-size: 110%;
    margin-left: 18px;
    margin-top: 4px;
}
#delete-btn-container {
    margin-right: 18px;
}
#delete-btn {
    border: none;
    outline: none;
    cursor: pointer;

    width: 24vw;
    max-width: 500px;
    min-width: 100px;

    height: 10vh;
    min-height: 60px;
    max-height: 120px;

    padding: 13px;
    border-radius: 5px;

    background-color: rgb(16, 47, 65);
    color: rgb(255, 47, 0);
    font-family: Urbanist;
    font-size: 140%;

    transition: background-color 200ms ease;
}
#delete-btn:hover {
    background-color: rgb(18, 49, 67);
}
#delete-btn:active {
    background-color: rgb(16, 43, 60);
}
footer {
    display: flex;
    justify-content: center;
}