@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    background-color: rgb(6, 20, 29);
}

.form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    align-items: center;
}

/* making form aligned in center of screen */
#sign-in-form, .container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* labels will have this font and font size */
#sign-in-form label {
    font-family: Handlee;
    font-size: 16pt;
    color: white;

    padding-top: 16px;
}

/* inputs will have these properties */
.container input {
    color: rgb(157, 220, 236);
    font-size: 17px;
    font-family: Coming Soon;
    background-color: rgb(10, 27, 37);
    border: none;
    outline: none;
    caret-color: white;
    padding: 10px 0px 10px 20px;
    width: 400px;
    height: 30px;
    border-radius: 7px 7px 3px 3px;
    box-shadow: 0px 2px 1px rgba(78, 156, 233, 0.4);
}

/* input border design */
.container {
    width: 100%;
    position: relative;
}

.container input~.focus-border {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(63, 134, 204);
    transition: 0.4s;
}

.container input:focus~.focus-border {
    width: 100%;
    transition: 0.4s cubic-bezier(0.57, 0.05, 0.21, 1);
}

/* password */
#password-requirements {
    display: none;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20px 20px;
    justify-content: space-around;
    margin-top: 17px;
    
    font-family: Urbanist;
}

#password-requirements p {
    color: rgb(201, 87, 87);
    margin: 0;
    padding-top: 2px;
    font-size: 8pt;
    text-align: center;
    transition: 0.3s cubic-bezier(0.57, 0.05, 0.21, 1);
}

#pass-label-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#pass-label-container a {
    font-family: Urbanist;
    font-size: 10pt;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

/* submit button */
#sign-in-submit {
    cursor: pointer;
    font-family: Urbanist;
    margin-top: 15px;

    outline: none;
    border: none;
    
    width: 420px;
    height: 45px;
    border-radius: 3px 3px 7px 7px;
    background-color: rgb(0, 51, 80);
    color: rgb(189, 203, 214);
    transition: 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

#sign-in-submit:hover {
    background-color: rgb(4, 78, 121);
}

#sign-in-submit:active {
    background-color: rgb(11, 69, 102);
}

/* warning messages */

.warning-message-container p {
    display: none;
    text-align: center;
    font-family: Urbanist;
    color: red;
    font-size: 11pt;
    margin-bottom: -8px;
    margin-top: 2px;
}

/* text below submit button */
#sign-up-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#sign-up-text {
    font-size: 8pt;
    font-family: Urbanist;
    color: white;
}
#sign-up-text a {
    color: wheat;
}