<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/404.css') }}">
    <script>
        const home_redirect = () => window.location = '/home'
    </script>
    <title>404 Not Found</title>
</head>

<body>
    <div>
        <div id='container'>
            <img id='image-404' src="{{ url_for('static', filename='images/404-page.png') }}">
            <div id='msg-container'>
                <h1 id='msg-404'>
                    404 PAGE NOT FOUND
                </h1>
                <p id='text-404'>Uh oh, the link you entered was not found. This means you clicked on a bad link or entered an invalid url</p>
            </div>
            <div>
                <button id='back-to-home-btn' onclick=home_redirect()>Click Here to return home</button>
            </div>
        </div>

    </div>
    
</body>

</html>