<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/mylinks.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/header.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='mylinks.js') }}" domain={{domain}} port={{port}}></script>
    <script type="text/javascript" src="{{ url_for('static', filename='header.js') }}" user={{user}}></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{user}}'s Links</title>
</head>

<body>
    <template id="link-template">
        <div class="link-container-back">
            <div class="link-container-front">
                <div class="links-container">
                    <a class="llink"></a>
                    <a class="slink"></a>
                </div>
                <div class="btns-container">
                    <button class="copy-btn">Copy Link</button>
                    <button class="delete-btn">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </template>
    <header>
        <div id='dropdown-container' data-dropdown>
            <button id='dropdown-button' class='header-buttons' data-dropdown-button>{{user}}</button>
            <div id='dropdown'>
                <a href="/settings">Settings</a>
                <a href="/home">Return To Home</a>
                <a style="color: rgb(166, 70, 70);" href="/logout">Log Out</a>
            </div>
        </div>
    </header>
    <div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div id='total-links-container'>
            <p id='total-links'></p>
        </div>
        <div id='container'>
           
        </div>
    </div>
</body>

</html>