<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/settings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/header.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/header.js') }}" user={{user}}></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <title>{{user}} - Settings</title>
</head>

<body>
    <header>
        <div id='dropdown-container' data-dropdown>
            <button id='dropdown-button' class='header-buttons' data-dropdown-button>{{user}}</button>
            <div id='dropdown'>
                <a href="/mylinks">My Links</a>
                <a href="/">Return To Home</a>
                <a style="color: rgb(166, 70, 70);" href="/logout">Log Out</a>
            </div>
        </div>
    </header>
    <div id="settings-container">
        <form id='settings-form' autocomplete="off" spellcheck="false">
            <div class="form-setting">
                <!-- username -->
                <div class="input-container" id="username-container">
                    <p>Change your username:</p>
                    <a>Username: <input id="username-input" placeholder="johndoe"></a>
                </div>
            </div>
            <div class="form-setting">
                <!-- email -->
                <div class="input-container" id="email-container">
                    <p>Change your email:</p>
                    <a>Email: <input id="email-input" placeholder="johndoe@gmail.com"></a>
                </div>
            </div>
            <div class="form-setting" id='password'>
                <!-- password -->
                <div class="input-container" id="password-container">
                    <p>Change your password:</p>
                    <div class="pass-label-container">
                        <a class="pass-container">Password:</a>
                        <a id="show-pass-n" class="show-pass">show</a>
                    </div>
                    <input type="password" id="password-input">
                    <div class="pass-label-container">
                        <a class="pass-container">Verify Password:</a>
                        <a id="show-pass-v" class="show-pass">show</a>
                    </div>
                    <input type="password" id="v-password-input">
                </div>
            </div>
            <div class="form-setting">
                <input id="settings-save" type="button" value="Save Changes">
            </div>
        </form>
        <footer>
            <div class="form-setting" id='account-delete'>
                <div id="delete-warning">
                    <h1>Account Deletion</h1>
                    <p>CAUTION: This action is <b>irreversable</b>.</p>
                </div>
                <div id="delete-btn-container">
                    <button id="delete-btn" type="button"><b>Delete Account</b></button>
                </div>
            </div>
        </footer>
    </div>
    
</body>

</html>