<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/sign_in.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/header.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/sign_in.js') }}"></script>
    <title>Sign In</title>
</head>

<body>
    <header>
        <button onclick="window.location='/home'" class="header-buttons">Return To Home</button>
    </header>
    <div class="form-container">
        <form autocomplete="off" spellcheck="false" id='sign-in-form'>
            <div class="container">
                <label for="email">Email:</label>
                <input id='email' type="text" name="email" placeholder="johndoe@gmail.com">
            </div>
            <div class="warning-message-container">
                <p id="warning-message-email"></p>
            </div>
            <div>
                <div class="container">
                    <div id='pass-label-container'>
                        <label for="password">Password:</label>
                        <a id='pass-show'>show</a>
                    </div>
                    <input id="password" type="password" name="password">
                </div>
                <div class="warning-message-container">
                    <p id="warning-message-password"></p>
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" id='sign-in-submit' value="Sign In"></input>
            <div id="sign-up-message-container">
                <p id='sign-up-text'>Dont have an account? <a href="/sign_up">Sign Up</a></p>
            </div>
            <div class="warning-message-container">
                <p id="warning-message"></p>
            </div>
        </form>
    </div>
</body>

</html>