<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
</head>

<body>
    <div>
        <h1>
            404 PAGE NOT FOUND
        </h1>
        <div>
            <button onclick=home_redirect()>Click Here to return home</button>
        </div>
    </div>
    <script>
        const home_redirect = () => window.location = '/home'
        // make this look better and say you clicked on a bad link or entered an invalid url or something
    </script>
    <style>
        h1 {
            color: rgb(0, 0, 0);
        }
        body {
            background-color: rgb(57, 179, 216);
        }
    </style>
</body>

</html>