<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../templates/stylesheets/home.css">
    <script type="text/javascript" src="../static/url_shorten.js" domain={{domain}} port={{port}} user='{{user}}'></script>
    <script type="text/javascript" src="../static/header.js" user='{{user}}'></script>
    <title>Home</title>
</head>
<body>
    <header class='header'>
        <button style="display: none;" id='sign-in' class='header-buttons'>Sign In</button>
        <button style="display: none;" id='sign-up' class='header-buttons'>Sign Up</button>
        <div style="display: none;" id='dropdown-container' data-dropdown>
            <button id='dropdown-button' class='header-buttons' data-dropdown-button>{{user}}</button>
            <div id='dropdown'>
                <a href="/mylinks">My Links</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>
    </header>
    <div id='form-holder'>
        <form autocomplete="off" spellcheck="false" id='link-form'>
            <div>
                <label id='link-label' for="link">Enter Link:</label>
                <div class="container">
                    <input type="text" id="link" name="link" placeholder="www.example.com">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <span class='focus-border'></span>
                </div>
            </div>
            <div id='warning-message-container'>
                <p id='warning-message'></p>
            </div>
            <div id='btns'>
                <input id="link-submit" type="submit" value="Shorten">
                <input id="link-open" style="display: none; width: 0px;" type="button" value="Open Link">
            </div>
        </form>
    </div>
</body>

</html>